#layerTop {
  position: absolute;
  top: 0;
  left: 0;
}

#layerBaixo {
  position: absolute;
  margin-top: 50%;
  display: flex;
  top: 0;
  left: 0;
}

#slogan {
  position: relative;
  width: 18%;
  margin-left: 5%;
  margin-top: 1.5%;
}

.main-menu {
  display: flex;
  justify-content: space-between;
}

.main-content {
  float: left;
  position: relative;
  margin-top: -34%;
}

.receba {
  margin-top: -10%;
}

#imgEntrega {
  position: relative;
  float: right;
  width: 35%;
  height: 35%;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 3%;

  background: transparent url('img/Delivery.2.png') 0% 0% no-repeat padding-box;
}

#imgBaixo{
  position: relative;
  float: left;
  width: 40%;
  height: 60%;
  margin-top: 3%;
  background: transparent url('img/Delivery.2.png') 0% 0% no-repeat padding-box;
  margin-left: 5%;
}

#sobre {
  position: relative;
  float: right;
  width: 50%;
  height: 60%;
  margin-top: 6%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: block;
  margin: 0%;
  text-align: left;
  letter-spacing: 0;
  opacity: 1;
  background: rgba(179, 221, 245, 0.527);
  margin-bottom: 0%;
}

.saudacao p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1;
  padding: 2em;
}
.saudacao-inicio {
  font-size: 3em;
  color: rgb(0, 0, 0);

}
.saudacao strong {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  position: relative;
}

.titulo-principal {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}

input {
  height: 40px;
  width: 390px;
  margin: 5px;
  border-radius: 30px;
  border:1px solid rgb(112, 179, 179);
  font-size: 14pt;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.01);
  color: #ffffff;
  outline: none;
  background: rgba(0, 0, 0, 0.23) 0% 0% no-repeat padding-box;
}

div#corpo-form {
  /*background-color: rgb(211, 134, 151);*/
  width: 60%;
  margin: 50px auto 50px auto;
  text-align: center;
  margin-left: 2%;
  margin-top: 10%;
}

.form {
  margin-top: -8%;
}

small {
  color: black;
  font-size: 16px;
  display: block;
  margin-top: auto;
  margin-left: -2em;
}

input[type=submit] {
  cursor: pointer;  
  background-color: #106b67;
  margin-top: 5%;
  padding: 0.2em 0.6em;
  width: 40%;
  /*margin: 10% 0 0 25%;*/

}
