.main-menu {
  display: flex;
  justify-content: space-between;
}

.main-menu .logo {
  margin: 0;
  text-align: left;
  letter-spacing: 0;
  color: #0C757D;
  opacity: 1;
  font-size: 40px;
  font-weight: 600;
} 

body {
  display: block;
  margin: 0%;
  text-align: left;
  letter-spacing: 0;
  opacity: 1;
  background: transparent linear-gradient(105deg, #F5F7F7 50%, #6BCBD2 100%) 0% 0% no-repeat padding-box;
  
}

.saudacao p {
  font-size: 1.5em;
  color: #99A;
  line-height: 1;
  padding: 2em;
}
.saudacao-inicio {
  font-size: 3em;
  color: rgb(73, 73, 87);
}
.saudacao strong {
  font-size: 30px;
  color: #106b67;
  position: relative;
}

.titulo-principal {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}

input {
  display: block;
  height: 40px;
  width: 390px;
  margin: 10px;
  border-radius: 30px;
  border:1px solid rgb(112, 179, 179);
  font-size: 16pt;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.01);
  color: black;
  outline: none;
}

div#corpo-form {
  /*background-color: rgb(134, 211, 173);*/
  width: 30%;
  margin: 50px auto 50px auto;
  text-align: center;
  margin-left: 10%;
  margin-bottom: -5%;
}

div#corpo-form h1{

}

small {
  color: black;
  font-size: 16px;
  display: block;
  margin-top: auto;
  
}

input[type=submit] {
  cursor: pointer;  
  background-color: rgb(255, 255, 255);
  border-color: #106b67;
  margin-top: 5%;
  padding: 5px 5px;
  


}
